@charset "utf-8";

@media screen and (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}

.btn {
    width: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-nav {
    width: 90px;
    height: 30px;
    font-size: 14px;
}

.btn-outline-dark {
    border-color: #000;
    color: #000;
}

em {
    font-weight: 600;
}